@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 2vh;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #121212;
  --white: #E6E6E6;

  --v1: #7651E8;
  --v2: #656AFF;
  --v3: #59B5FF;

  --white-transparent: #E6E6E61A; 
  --white-transparent-2: #E6E6E633;

  --black-transparent: #12121280;
  --black-transparent-05: #12121240;
}

* {
  margin: 0;
  padding: 0;

  z-index: 1;
}

.background {
  pointer-events: none;
}

html, body {
  background-color: var(--black);
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

h1, h2, h3, h4, p {
  color: var(--white);
}

span.vivid {
  background: linear-gradient(to bottom, var(--v1), var(--v3));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}